<app-header></app-header>
<section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
        <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg1.jfif" alt="">
            <div class="item-meta">
                <h2>DOOM</h2>
                <p>id Software</p>
            </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg2.jfif" alt="">
            <div class="item-meta">
                <h2>Super Mario Bros 3</h2>
                <p>Nintendo</p>
            </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg3.jfif" alt="">
            <div class="item-meta">
                <h2>Super Mario Bros</h2>
                <p>Nintendo</p>
            </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg4.jfif" alt="">
            <div class="item-meta">
                <h2>Contra</h2>
                <p>Konami</p>
            </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg5.jfif" alt="">
            <div class="item-meta">
                <h2>Pac-man</h2>
                <p>Namco</p>
            </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg6.jfif" alt="">
            <div class="item-meta">
                <h2>Crash Bandicoot</h2>
                <p>Naughty Dog</p>
            </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg7.jfif" alt="">
            <div class="item-meta">
                <h2>Mortal Kombat</h2>
                <p>Midway Games</p>
            </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg8.jfif" alt="">
            <div class="item-meta">
                <h2>Goof Troop</h2>
                <p>Capcom</p>
            </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg9.jfif" alt="">
            <div class="item-meta">
                <h2>Double Dragon</h2>
                <p>Technos Japan</p>
            </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg10.jfif" alt="">
            <div class="item-meta">
                <h2>Donkey Kong Country</h2>
                <p>Nintendo</p>
            </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg11.jfif" alt="">
            <div class="item-meta">
                <h2>Battle City</h2>
                <p>Namco</p>
            </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/vg12.jfif" alt="">
            <div class="item-meta">
                <h2>Super Mario Kart</h2>
                <p>Nintendo</p>
            </div></a>
        </div>
    </section>
</section>
<app-footer></app-footer>