<app-header></app-header>
<section class="ae-container-fluid rk-main">
    <div class="ae-grid au-xs-ta-center au-mb-4">
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team1.png" alt="" class="au-mb-3">
            <h5 class="ae-u-bolder au-mt-2">Nintendo Co., Ltd</h5>
            <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Sede en Kioto, Japón, integra en sus productos hardware y software, y gracias a ellos ha creado franquicias reconocidas en todo el mundo, como Mario™, Donkey Kong™, The Legend of Zelda™, Metroid™, Pokémon™, Animal Crossing™, Pikmin™ y Splatoon™. <br> El objetivo de Nintendo es proporcionar experiencias de entretenimiento intuitivas y únicas, creando y publicitando productos como las consolas de la familia Nintendo Switch™; desarrollando aplicaciones para dispositivos inteligentes; y colaborando con sus socios en una amplia variedad de iniciativas de entretenimiento, como contenido visual y parques temáticos.</p>
        </div>
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team2.png" alt="" class="au-mb-3">
            <h5 class="ae-u-bolder au-mt-2">Camcpon Company, Limited</h5>
            <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Empresa japonesa desarrolladora y distribuidora de videojuegos. Fue fundada en 1979 como Japan Capsule Computers, una empresa dedicada a la fabricación y distribución de máquinas de videojuegos. Su actual nombre es el resultado de unir Capsule Computers. En 2016 Capcom Ent., Inc. se mudó a San Francisco. <br> Capcom ha creado algunas de las series más famosas y duraderas de la historia de los videojuegos, como son Street Fighter, Dino Crisis, Monster Hunter, Mega Man, Ghosts 'n Goblins, Resident Evil y Devil May Cry.</p>
        </div>
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team3.png" alt="" class="au-mb-3">
            <h5 class="ae-u-bolder au-mt-2">Konamy Holdings Corporation</h5>
            <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Empresa de desarrollo de juguetes, cartas coleccionables, anime, tokusatsu, máquinas tragaperras y videojuegos. Fue fundada en 1969 como un negocio de reparación y de jukeboxes en Osaka, Japón, por Kagemasa Kozuki, quien es todavía su presidente y director ejecutivo. <br> Konami ha sido el responsable de la creación de 6 de las franquicias más exitosas en la historia de los videojuegos: Castlevania, Contra, Metal Gear Solid, Silent Hill, Dance Dance Revolution y Pro Evolution Soccer, así como ser la creadora de videojuegos exitosos, basados en series, caricaturas y películas, tales son los casos de los videojuegos de las caricaturas Tiny Toon Adventures, Animaniacs y Tortugas Ninja, así como el videojuego Batman Returns, basado en la película homónima, y haber desarrollado el considerado mejor videojuego de arcade de todos los tiempos: The Simpsons Arcade Game. </p>
        </div>
    </div>
    <div class="ae-grid au-pt-2">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
            <h4 class="ae-u-bolder">Videogames</h4>
            <p>Experimenta, conoce, crea y comparte videojuegos clasicos con distintas personas.</p>
        </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">Historia</h6>
            <p class="au-lh-3">Se busco crear una pagina web donde las personas observaran y aprendieran sobre las caracteristicas principales de los vidojuegos clasicos mas importantes, ademas de poder ver publicaciones de videojuegos de otras personas.</p>
        </div>
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">Expectadores</h6>
            <p class="au-lh-3">Este espacio consite en que nuestros expectadores conozcan acerca de los videojuegos clasicos existentes mas reconocidos, ademas de aprender sobre su origen y compañia creadora.</p>
        </div>
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">Publicadores</h6>
            <p class="au-lh-3">Existe una pestaña donde ustedes podarn publicar algun titulo de un videojuego con sus respectivas caracteristicas que consideren importante mostrar y que aun no este publicado.</p>
        </div>
    </div>
    <p class="au-flex au-pt-4 group-buttons">
        <a routerLink="/" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Ver nuerto portafolio<span class="arrow-cont">
            <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
            </svg></span>
        </a>
    </p>
</section>
<app-footer></app-footer>